.flex {
  display: flex;
}
.flex1 {
  flex: 1;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.alicenter {
  align-items: center;
}

.jucenter {
  justify-content: center;
}
.juicenter {
  justify-items: center;
}
